
{% extends "base.html" %}
{% block content %}
<main class="px-3">
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
          <a href="about/" class="d-flex align-items-center text-dark text-decoration-none"> 
            <span class="fs-4"><b>ABOUT US</b></span>
          </a>
        </header>
    
        <div class="p-5 mb-4 bg-light rounded-3">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Training for a new age careers &
                Helping you create a better tomorrow</h1>
            <p class="col-md-8 fs-4">iTpreneur is one of the Best IT Training Institutes in Pune dedicated to introducing new skills and talent into Pune’s IT sector. We are a proudly unique company with services covering all levels of IT recruitment and skill development.
                Since 2014 we have helped over 4000 people launch their careers in the Tech and Digital industries and supported their further development with our blend of training and recruitment services.
                Across all our services, our mission is simple. To make IT happen for the benefit of our candidates, our clients, and the growing IT sector in Pune.</p>
          </div>
        </div>
    
        <div class="row align-items-md-stretch">
          <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
              <h2>Our Vision</h2>
              <ul>
                <li>One day, all the student in this nation will have the opportunity to get their Dream Job.</li>
                <li>To drive a new era of development, growth, and productivity.</li>
                <li>To reach whole new level by providing the best IT services in India</li>
              </ul>
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
              <h2>Our Mission</h2>
              <p>A vision without an action is just a Dream</p>
              <ul>
                <li>To inspire all the students by giving them knowledge to get their Dream Job.
                </li>
                <li>We work hard every day to become world’s most respected institute brand.</li>
                <li>To provide an education that transforms students through rigorous coursework and by providing an understanding of the needs of society and industry.</li>
                <li>Inspire employees to learn more productively by providing focus and common goals</li>
              </ul>
              
            </div>
          </div>
        </div>
    
    </div>
  </main>


{% comment %} ####### {% endcomment %}
  <div class="container-fluid px-0 w-100% bg-light ">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active position-relative">
          <img style="width:100%;height:200px;" id="slidesimg" src="https://cdn.pixabay.com/photo/2020/04/08/16/32/keyboard-5017973_1280.jpg"
            class="d-block w-100" alt="...">
            <div class="bread-title text-white  ml-4  position-absolute top-50 start-0 translate-middle-y">
              <h3><b>New Student Join Every Week</b></h3>
              <h5><b>New courses, interesting posts, popular books and much more!</b></h5>
            </div>
            <a class="btn btn-light position-absolute top-50 start-50 ml-5  translate-middle-y !important" href="#"><b>Apply Course Now</b></a>
        </div>
      </div>
    </div>
  </div>

{% comment %} ####### {% endcomment %}


{% endblock %}

  
